<div class="container">
    <mat-card *ngFor="let card of cards" class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Solution Challenge with Paulo ;D</mat-card-title>
          <mat-card-subtitle>ODS's</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://developers.google.com/community/images/gdsc-solution-challenge/solutionchallenge-homepage.png" alt="Photo of some ods's">
        <mat-card-content>
          <p>
            The Solution Challenge is an annual contest presented by Google that invites students to develop solutions for local community problems using one or more Google products or platforms. We invite university students around the world to join the competition with Google Developer Student Clubs.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>COMMENT</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
</div>
<mat-card *ngFor="let card of cards" class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Using Angular Cards & img's with Paulo</mat-card-title>
    <mat-card-subtitle>Angular 4</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://www.campusmvp.es/recursos/image.axd?picture=/2021/2T/angular12-portada.png" alt="Learning Angular">
  <mat-card-content>
    <p>
      Al igual que en la versión anterior, Angular continúa enfocándose sobre todo en traer pequeñas mejoras que sin ser grandes novedades: mejoran la experiencia de desarrollo y estabilizan el framework.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>COMMENT</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

  
